<p>robust-form works!</p>

<ng-container *ngFor="let control of controls">

  <ng-template [ngIf]="!control.type || control.getType() === 'text'">
    <div class="form-group">
      <label for="control-text" *ngIf="control.description">{{ control.description }}</label>
      <input class="form-control" type="text" id="control-text">
    </div>
  </ng-template>

  <ng-template [ngIf]="!control.type || control.type === 'email'">
    <div class="form-group">
      <label for="control-email" *ngIf="control.description">{{ control.description }}</label>
      <input class="form-control" type="email" id="control-email">
    </div>
  </ng-template>

</ng-container>