<p>robust-form works!</p>

<button class="btn btn-primary" (click)="emitValues()">
  getValues
</button>

<form [formGroup]="formGroup">
  <ng-container *ngFor="let group of groups">

    <ng-container [ngSwitch]="group.groupType">
      
      <ng-container *ngSwitchCase="GroupType.FIELDSET">
        <fieldset [formGroup]="formGroup.get(group.code)">
          <legend *ngIf="'Ungrouped' !== group.description">{{ group.description }}</legend>

          <ng-container *ngFor="let question of group.questions">

            <ng-container [ngSwitch]="question.fieldType">

              <ng-template [ngSwitchCase]="FieldType.CHECK">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [name]="question.code"
                             [checked]="question.defaultOption ? 'checked' : ''"
                             [formControlName]="question.code">
                      {{ question.description }}
                    </label>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldType.RADIO">
                <div class="form-group">
                  <label>{{ question.description }}</label>
                  <div class="radio" *ngFor="let option of question.options">
                    <label>
                      <input type="radio" [name]="question.code" [value]="option"
                             [checked]="option === question.defaultOption ? 'checked' : ''"
                             [formControlName]="question.code">
                      {{ option }}
                    </label>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldType.SELECT">
                <div class="form-group">
                  <label [for]="question.code">{{ question.description }}</label>
                  <select [id]="question.code" class="form-control" [name]="question.code"
                          [formControlName]="question.code">
                    <option disabled [selected]="!question.defaultOption ? 'selected' : ''" [value]="null">
                      {{ question.placeholder ? question.placeholder : '' }}
                    </option>
                    <option *ngFor="let option of question.options" [value]="option"
                            [selected]="option === question.defaultOption ? 'selected' : ''">
                      {{ option }}
                    </option>
                  </select>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="FieldType.TEXT" ngSwitchDefault>
                <div class="form-group">
                  <label [for]="question.code">{{ question.description }}</label>
                  <input type="text" [id]="question.code" class="form-control" [name]="question.code"
                         [placeholder]="question.placeholder ? question.placeholder : ''"
                         [formControlName]="question.code">
                </div>
              </ng-template>
            </ng-container>

          </ng-container>
        </fieldset>
      </ng-container>

      <ng-container *ngSwitchCase="GroupType.DATA_TABLE">
        <data-table [group]="group" [formGroup]="formGroup"></data-table>
      </ng-container>

    </ng-container> <!--/[ngSwitch]-->

  </ng-container> <!--groups-->
</form>
