<h1>RobustForms</h1>

<form [formGroup]="formGroup">
  <ng-container *ngFor="let group of groups">

    <ng-container [ngSwitch]="group.type">

      <ng-container *ngSwitchCase="'fieldset'">
        <fieldset [formGroup]="formGroup.get(group.code)">
          <legend *ngIf="'Ungrouped' !== group.description">{{ group.description }}</legend>

          <ng-container *ngFor="let question of group.questions">

            <ng-container [ngSwitch]="question.type">

              <ng-template ngSwitchCase="check">
                <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [name]="question.code" [formControlName]="question.code" />
                      {{ question.description }}
                    </label>
                  </div> <!--/.checkbox-->
                </div> <!--/.form-group-->
              </ng-template> <!--/check-->

              <ng-template ngSwitchCase="radio">
                <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                  <label>{{ question.description }}</label>
                  <div class="radio" *ngFor="let option of question.options">
                    <label>
                      <input type="radio" [name]="question.code" [value]="option" [formControlName]="question.code" />
                      {{ option }}
                    </label>
                  </div> <!--/.radio-->
                  <validation-message [validations]="question.validations"
                                      [control]="formGroup.get(group.code).get(question.code)"
                                      [submitted]="submitted">
                  </validation-message>
                </div> <!--/.form-group-->
              </ng-template> <!--/radio-->

              <ng-template ngSwitchCase="select">
                <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                  <label [for]="question.code">{{ question.description }}</label>
                  <select [id]="question.code" class="form-control" [name]="question.code"
                          [formControlName]="question.code">
                    <option disabled [value]="null">
                      {{ question.placeholder ? question.placeholder : '' }}
                    </option>
                    <option *ngFor="let option of question.options" [value]="option">
                      {{ option }}
                    </option>
                  </select>
                  <validation-message [validations]="question.validations"
                                      [control]="formGroup.get(group.code).get(question.code)"
                                      [submitted]="submitted">
                  </validation-message>
                </div> <!--/.form-group-->
              </ng-template> <!--/select-->

              <ng-template ngSwitchCase="textarea">
                <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                  <label [for]="question.code">{{ question.description }}</label>
                  <textarea [id]="question.code" class="form-control" [name]="question.code" rows="5"
                            [placeholder]="question.placeholder ? question.placeholder : ''"
                            [formControlName]="question.code">
                  </textarea>
                  <validation-message [validations]="question.validations"
                                      [control]="formGroup.get(group.code).get(question.code)"
                                      [submitted]="submitted">
                  </validation-message>
                </div> <!--/.form-group-->
              </ng-template> <!--/textarea-->

              <ng-template ngSwitchCase="text" ngSwitchDefault>
                <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                  <label [for]="question.code">{{ question.description }}</label>
                  <input type="text" [id]="question.code" class="form-control" [name]="question.code"
                         [placeholder]="question.placeholder ? question.placeholder : ''"
                         [formControlName]="question.code" [mask]="question.mask" />
                  <validation-message [validations]="question.validations"
                                      [control]="formGroup.get(group.code).get(question.code)"
                                      [submitted]="submitted">
                  </validation-message>
                </div> <!--/.form-group-->
              </ng-template> <!--/text-->
            </ng-container> <!--/ngSwitch-questionType-->

          </ng-container> <!--/ngFor-question-->
        </fieldset>
      </ng-container> <!--/ngSwitchCase-fieldset-->

      <ng-container *ngSwitchCase="'datatable'">
        <data-table [group]="group" [formGroup]="formGroup" [formGroupSubmitted]="submitted"></data-table>
      </ng-container>

    </ng-container> <!--/ngSwitch-groupType-->

  </ng-container> <!--groups-->
</form>
