<p>robust-form works!</p>

<form [formGroup]="form">
  <ng-container *ngFor="let group of groups">

    <ng-container [ngSwitch]="group.groupType">
      
      <ng-container *ngSwitchCase="groupType.FIELDSET">
        <fieldset [formGroup]="">
          <legend *ngIf="'Ungrouped' !== group.description">{{ group.description }}</legend>

          <ng-container *ngFor="let question of group.questions">

            <ng-container [ngSwitch]="question.fieldType">

              <ng-template [ngSwitchCase]="fieldType.CHECK">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [name]="question.code" [checked]="question.defaultOption ? 'checked' : ''"
                             [formControlName]="question.code" />
                      {{ question.description }}
                    </label>
                  </div>
                </div>
              </ng-template>

              <!--<ng-template [ngSwitchCase]="fieldType.DATA_TABLE">
                <data-table [question]="question"></data-table>
              </ng-template>-->

              <ng-template [ngSwitchCase]="fieldType.RADIO">
                <div class="form-group">
                  <label>{{ question.description }}</label>
                  <div class="radio" *ngFor="let option of question.options">
                    <label>
                      <input type="radio" [name]="question.code" [value]="option"
                             [checked]="option === question.defaultOption ? 'checked' : ''">
                      {{ option }}
                    </label>
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="fieldType.SELECT">
                <div class="form-group">
                  <label [for]="question.code">{{ question.description }}</label>
                  <select [id]="question.code" class="form-control" [name]="question.code">
                    <option disabled [selected]="!question.defaultOption ? 'selected' : ''">
                      {{ question.placeholder ? question.placeholder : '' }}
                    </option>
                    <option *ngFor="let option of question.options" [value]="option"
                            [selected]="option === question.defaultOption ? 'selected' : ''">
                      {{ option }}
                    </option>
                  </select>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="fieldType.TEXT" ngSwitchDefault>
                <div class="form-group">
                  <label [for]="question.code">{{ question.description }}</label>
                  <input type="text" [id]="question.code" class="form-control" [name]="question.code"
                         [placeholder]="question.placeholder ? question.placeholder : ''">
                </div>
              </ng-template>
            </ng-container>

          </ng-container>
        </fieldset>
      </ng-container>

      <ng-container *ngSwitchCase="groupType.DATA_TABLE">
        <data-table [group]="group"></data-table>
      </ng-container>

    </ng-container>

  </ng-container>
</form>
