<fieldset [formGroup]="formGroup" [ngClass]="{ 'read-only': readOnly }">
  <legend>{{ group.description }}</legend>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center" *ngFor="let question of group.questions[0]">
            {{ question.description }}
          </th>
          <th class="text-center" *ngIf="!readOnly">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr [formGroup]="newFormGroup" *ngIf="!readOnly">
          <td *ngFor="let question of group.questions[0]">
            <ng-container [ngSwitch]="question.type">

              <ng-template ngSwitchCase="check">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [name]="question.name" [formControlName]="question.name" />
                    {{ question.description }}
                  </label>
                  <rb-validation-message [validations]="question.validations"
                                         [control]="newFormGroup.get(question.name)"
                                         [submitted]="submitted">
                  </rb-validation-message>
                </div> <!--/.checkbox-->
              </ng-template> <!--/check-->

              <ng-template ngSwitchCase="radio">
                <div class="radio" *ngFor="let option of question.options">
                  <label>
                    <input type="radio" [name]="question.name" [value]="option" [formControlName]="question.name" />
                    {{ option }}
                  </label>
                </div> <!--/.radio-->
                <rb-validation-message [validations]="question.validations"
                                       [control]="newFormGroup.get(question.name)"
                                       [submitted]="submitted">
                </rb-validation-message>
              </ng-template> <!--/radio-->

              <ng-template ngSwitchCase="select">
                <select [id]="question.name" class="form-control" [name]="question.name"
                        [formControlName]="question.name">
                  <option disabled [value]="null">
                    {{ question.placeholder ? question.placeholder : '' }}
                  </option>
                  <option *ngFor="let option of question.options" [value]="option">
                    {{ option }}
                  </option>
                </select>
                <rb-validation-message [validations]="question.validations"
                                       [control]="newFormGroup.get(question.name)"
                                       [submitted]="submitted">
                </rb-validation-message>
              </ng-template> <!--/select-->

              <ng-template ngSwitchCase="textarea">
                <textarea [id]="question.name" class="form-control" [name]="question.name" rows="5"
                          placeholder="{{ question.placeholder ? question.placeholder : '' }}"
                          [formControlName]="question.name">
                </textarea>
                <rb-validation-message [validations]="question.validations"
                                       [control]="newFormGroup.get(question.name)"
                                       [submitted]="submitted">
                </rb-validation-message>
              </ng-template> <!--/textarea-->

              <ng-template ngSwitchCase="text" ngSwitchDefault>
                <input type="text" [id]="question.name" class="form-control" [name]="question.name"
                        placeholder="{{ question.placeholder ? question.placeholder : '' }}"
                        [formControlName]="question.name" [mask]="question.mask" />
                <rb-validation-message [validations]="question.validations"
                                       [control]="newFormGroup.get(question.name)"
                                       [submitted]="submitted">
                </rb-validation-message>
              </ng-template> <!--/text-->

            </ng-container> <!--/ngSwitch-questionType-->
          </td>
          <td class="text-center">
            <button class="btn btn-default btn-add-data" (click)="addData()">
              <i class="rb-ico rb-ico-add" aria-hidden="true"></i>
              Add
            </button>
          </td>
        </tr>
        <tr class="data" *ngFor="let data of formArray?.value; let indexData = index">
          <td *ngFor="let key of getKeysFromObject(data)" class="{{ 'check' === getQuestionByName(key).type ? 'text-center' : '' }}">
            <ng-container [ngSwitch]="getQuestionByName(key).type">
              <ng-template ngSwitchCase="check">
                <i class="rb-ico rb-ico-square rb-ico-{{ data[key] ? 'checked' : 'unchecked' }}" aria-hidden="true"></i>
              </ng-template>

              <ng-template ngSwitchDefault>
                {{ data[key] }}
              </ng-template>
            </ng-container>
          </td>
          <td class="text-center" *ngIf="!readOnly">
            <button class="btn btn-default btn-remove-data" (click)="removeData(indexData)">
              <i class="rb-ico rb-ico-remove" aria-hidden="true"></i>
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> <!--/.table-responsive-->
  <rb-validation-message [validations]="group.validations"
                         [control]="formArray"
                         [submitted]="formGroupSubmitted">
  </rb-validation-message>
</fieldset>
