.rb-angular-forms [hidden] { display: none }

/* Icons */
.rb-ico { font-style: normal }
.rb-ico:after { font-size: 1.6rem }
.rb-ico.rb-ico-add:after { content: '✚' }
.rb-ico.rb-ico-remove:after { content: '✖' }
.rb-ico.rb-ico-square:after {
  background: linear-gradient(to bottom, #fff 0px, #e6e6e6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #888;
  border-radius: .3rem;
  content: '';
  cursor: default;
  display: inline-block;
  font-size: 1.6rem;
  height: 1.4rem;
  line-height: 1.4rem;
  margin-right: .5rem;
  text-align: center;
  width: 1.4rem;
}
.rb-ico.rb-ico-square.rb-ico-checked:after { content: '✔' }
.rb-ico.rb-ico-square.rb-ico-unchecked:after { content: '' }

/* DataTable */
.rb-data-table {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 0 15px 15px;
}
.rb-data-table legend {
  border: 1px solid #ccc;
  padding: 5px 10px;
}

/* Validation */
.rb-validation-message {
  margin: 0;
  padding: 0;
}
.rb-validation-message li {
  border-left: 3px solid #a00;
  color: #a00;
  font-size: .9em;
  list-style: none;
  margin-bottom: 3px;
  padding: 1px 0 1px 5px;
}
.rb-validation-message li:first-of-type { margin-top: 5px }

.required-control::after {
  color: #a00;
  content: '*';
}

/* Choice Question */
.editable-option { margin-top: 10px; }


/* Tooltip */
.form-group:hover .tooltip{opacity: 100}

.tooltip.top{
  margin-top: -2em;
}
