<form *ngIf="Status['READY'] === status" class="rb-angular-forms" [formGroup]="formGroup" [ngClass]="{ 'read-only': readOnly }">
    <ng-container *ngFor="let group of groups">

        <ng-container [ngSwitch]="group.type">

            <ng-container *ngSwitchCase="'group'">
                <fieldset class="rb-fieldset rb-fieldset-{{ group.code }}" [formGroup]="formGroup.get(group.code)">
                    <legend *ngIf="'Ungrouped' !== group.description">{{ group.description }}</legend>

                    <ng-container *ngFor="let question of group.questions">

                        <ng-container [ngSwitch]="question.type">

                            <ng-template ngSwitchCase="checkbox">
                                <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                                    <ng-container *ngIf="!readOnly; else readOnlyCheckbox">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" [name]="question.name" [formControlName]="question.name" />
                                                <span [ngClass]="{ 'required-control': question.isRequired() }">
                              {{ question.description }}
                            </span>
                                            </label>
                                            <rb-validation-message [validations]="question.validations"
                                                                   [control]="formGroup.get(group.code).get(question.name)"
                                                                   [submitted]="submitted">
                                            </rb-validation-message>
                                        </div> <!--/.checkbox-->
                                    </ng-container> <!--/!readOnly-->

                                    <ng-template #readOnlyCheckbox>
                                        <label>
                                            <i class="rb-ico rb-ico-square rb-ico-{{ question.answer ? 'checked' : 'unchecked' }}" aria-hidden="true"></i>
                                            {{ question.description }}
                                        </label>
                                    </ng-template> <!--/readOnly-->
                                </div> <!--/.form-group-->
                            </ng-template> <!--/checkbox-->

                            <ng-template ngSwitchCase="radio">
                                <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                                    <ng-container *ngIf="!readOnly; else readOnlyRadio">
                                        <label [ngClass]="{ 'required-control': question.isRequired() }">
                                            {{ question.description }}
                                        </label>
                                        <div class="radio" *ngFor="let option of question.options">
                                            <label>
                                                <input type="radio" [name]="question.name" [value]="option" [formControlName]="question.name" />
                                                {{ option }}
                                            </label>
                                        </div> <!--/.radio-->
                                        <rb-validation-message [validations]="question.validations"
                                                               [control]="formGroup.get(group.code).get(question.name)"
                                                               [submitted]="submitted">
                                        </rb-validation-message>
                                    </ng-container> <!--/!readOnly-->

                                    <ng-template #readOnlyRadio>
                                        <label>{{ question.description }}</label>
                                        <span>{{ question.answer || 'NOT_INFORMED' | translate }}</span>
                                    </ng-template> <!--/readOnly-->
                                </div> <!--/.form-group-->
                            </ng-template> <!--/radio-->

                            <ng-template ngSwitchCase="select">
                                <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                                    <ng-container *ngIf="!readOnly; else readOnlySelect">
                                        <label [for]="question.name" [ngClass]="{ 'required-control': question.isRequired() }">
                                            {{ question.description }}
                                        </label>
                                        <select [id]="question.name" class="form-control" [name]="question.name" #selectQuestion
                                                [formControlName]="question.name"
                                                (change)="onChangeOptionSelect(selectQuestion, formGroup.get(group.code).get(question.name), question)">
                                            <option disabled [value]="null">
                                                {{ question.placeholder ? question.placeholder : '' }}
                                            </option>
                                            <option *ngFor="let option of question.options" [value]="option['value'] || option">
                                                {{ option['description'] || option }}
                                            </option>
                                        </select>
                                        <ng-container *ngIf="question.editableOption && question.editableOption.length">
                                            <input [hidden]="question.editableOption !== selectQuestion.value"
                                                   type="text" [id]="question.name" class="form-control editable-option" [name]="question.name"
                                                   [formControlName]="question.name" />
                                        </ng-container>
                                        <rb-validation-message [validations]="question.validations"
                                                               [control]="formGroup.get(group.code).get(question.name)"
                                                               [submitted]="submitted">
                                        </rb-validation-message>
                                    </ng-container> <!--!readOnly-->

                                    <ng-template #readOnlySelect>
                                        <label>{{ question.description }}</label>
                                        <span>{{ question.answer || 'NOT_INFORMED' | translate }}</span>
                                    </ng-template> <!--/readOnly-->
                                </div> <!--/.form-group-->
                            </ng-template> <!--/select-->

                            <ng-template ngSwitchCase="textarea">
                                <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                                    <ng-container *ngIf="!readOnly; else readOnlyTextarea">
                                        <label [for]="question.name" [ngClass]="{ 'required-control': question.isRequired() }">
                                            {{ question.description }}
                                        </label>
                                        <textarea [id]="question.name" class="form-control" [name]="question.name" rows="5"
                                                  placeholder="{{ question.placeholder ? question.placeholder : '' }}"
                                                  [formControlName]="question.name">
                        </textarea>
                                        <rb-validation-message [validations]="question.validations"
                                                               [control]="formGroup.get(group.code).get(question.name)"
                                                               [submitted]="submitted">
                                        </rb-validation-message>
                                    </ng-container> <!--!readOnly-->

                                    <ng-template #readOnlyTextarea>
                                        <label>{{ question.description }}</label>
                                        <span>{{ question.answer || 'NOT_INFORMED' | translate }}</span>
                                    </ng-template> <!--/readOnly-->
                                </div> <!--/.form-group-->
                            </ng-template> <!--/textarea-->

                            <ng-template ngSwitchCase="text" ngSwitchDefault>
                                <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                                    <ng-container *ngIf="!readOnly; else readOnlyText">
                                        <label [for]="question.name" [ngClass]="{ 'required-control': question.isRequired() }">
                                            {{ question.description }}
                                        </label>
                                        <input type="text" [id]="question.name" class="form-control" [name]="question.name"
                                               placeholder="{{ question.placeholder ? question.placeholder : '' }}"
                                               [formControlName]="question.name" [mask]="question.mask" />
                                        <rb-validation-message [validations]="question.validations"
                                                               [control]="formGroup.get(group.code).get(question.name)"
                                                               [submitted]="submitted">
                                        </rb-validation-message>
                                    </ng-container> <!--!readOnly-->

                                    <ng-template #readOnlyText>
                                        <label>{{ question.description }}</label>
                                        <span>{{ question.answer || 'NOT_INFORMED' | translate }}</span>
                                    </ng-template> <!--readOnly-->
                                </div> <!--/.form-group-->
                            </ng-template> <!--/text-->
                        </ng-container> <!--/ngSwitch-questionType-->

                    </ng-container> <!--/ngFor-question-->
                </fieldset>
            </ng-container> <!--/ngSwitchCase-fieldset-->

            <ng-container *ngSwitchDefault>
                <rb-data-table [group]="group" [formGroup]="formGroup" [formGroupSubmitted]="submitted" [readOnly]="readOnly"
                               (error)="onError($event)">
                </rb-data-table>
            </ng-container>

        </ng-container> <!--/ngSwitch-groupType-->

    </ng-container> <!--groups-->
</form>
