.read-only label.checkbox:before {
  background: linear-gradient(to bottom, #fff 0px, #e6e6e6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #888;
  border-radius: .3rem;
  content: '';
  cursor: default;
  display: inline-block;
  font-size: 1.6rem;
  height: 1.4rem;
  line-height: 1.4rem;
  margin-right: .5rem;
  text-align: center;
  width: 1.4rem;
}

.read-only label.checkbox.checked:before { content: '✓' }
