<form [formGroup]="formGroup" [ngClass]="{ 'read-only': readOnly }">
  <ng-container *ngFor="let group of groups">

    <ng-container [ngSwitch]="group.type">

      <ng-container *ngSwitchCase="'group'">
        <fieldset [formGroup]="formGroup.get(group.code)">
          <legend *ngIf="'Ungrouped' !== group.description">{{ group.description }}</legend>

          <ng-container *ngFor="let question of group.questions">

            <ng-container [ngSwitch]="question.type">

              <ng-template ngSwitchCase="check">
                <ng-container *ngIf="!readOnly">
                  <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" [name]="question.name" [formControlName]="question.name" />
                        {{ question.description }}
                      </label>
                      <rb-validation-message [validations]="question.validations"
                                              [control]="formGroup.get(group.code).get(question.name)"
                                              [submitted]="submitted">
                      </rb-validation-message>
                    </div> <!--/.checkbox-->
                  </div> <!--/.form-group-->
                </ng-container> <!--/!readOnly-->

                <ng-container *ngIf="readOnly">
                  <div class="form-group">
                    <label>
                      <i class="rb-ico rb-ico-square rb-ico-{{ question.answer ? 'checked' : 'unchecked' }}" aria-hidden="true"></i>
                      {{ question.description }}
                    </label>
                  </div> <!--/.form-group-->
                </ng-container> <!--/readOnly-->
              </ng-template> <!--/check-->

              <ng-template ngSwitchCase="radio">
                <ng-container *ngIf="!readOnly">
                  <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                    <label>{{ question.description }}</label>
                    <div class="radio" *ngFor="let option of question.options">
                      <label>
                        <input type="radio" [name]="question.name" [value]="option" [formControlName]="question.name" />
                        {{ option }}
                      </label>
                    </div> <!--/.radio-->
                    <rb-validation-message [validations]="question.validations"
                                            [control]="formGroup.get(group.code).get(question.name)"
                                            [submitted]="submitted">
                    </rb-validation-message>
                  </div> <!--/.form-group-->
                </ng-container> <!--/!readOnly-->

                <ng-container *ngIf="readOnly">
                  <div class="form-group">
                    <label>{{ question.description }}:</label>
                    <span>{{ question.answer }}</span>
                  </div> <!--/.form-group-->
                </ng-container>
              </ng-template> <!--/radio-->

              <ng-template ngSwitchCase="select">
                <ng-container *ngIf="!readOnly">
                  <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                    <label [for]="question.name">{{ question.description }}</label>
                    <select [id]="question.name" class="form-control" [name]="question.name"
                            [formControlName]="question.name">
                      <option disabled [value]="null">
                        {{ question.placeholder ? question.placeholder : '' }}
                      </option>
                      <option *ngFor="let option of question.options" [value]="option">
                        {{ option }}
                      </option>
                    </select>
                    <rb-validation-message [validations]="question.validations"
                                            [control]="formGroup.get(group.code).get(question.name)"
                                            [submitted]="submitted">
                    </rb-validation-message>
                  </div> <!--/.form-group-->
                </ng-container> <!--/!readOnly-->

                <ng-container *ngIf="readOnly">
                  <div class="form-group">
                    <label>{{ question.description }}:</label>
                    <span>{{ question.answer }}</span>
                  </div> <!--/.form-group-->
                </ng-container> <!--/readOnly-->
              </ng-template> <!--/select-->

              <ng-template ngSwitchCase="textarea">
                <ng-container *ngIf="!readOnly">
                  <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                    <label [for]="question.name">{{ question.description }}</label>
                    <textarea [id]="question.name" class="form-control" [name]="question.name" rows="5"
                              placeholder="{{ question.placeholder ? question.placeholder : '' }}"
                              [formControlName]="question.name">
                    </textarea>
                    <rb-validation-message [validations]="question.validations"
                                            [control]="formGroup.get(group.code).get(question.name)"
                                            [submitted]="submitted">
                    </rb-validation-message>
                  </div> <!--/.form-group-->
                </ng-container> <!--/!readOnly-->

                <ng-container *ngIf="readOnly">
                  <div class="form-group">
                    <label>{{ question.description }}:</label>
                    <span>{{ question.answer }}</span>
                  </div> <!--/.form-group-->
                </ng-container> <!--/readOnly-->
              </ng-template> <!--/textarea-->

              <ng-template ngSwitchCase="text" ngSwitchDefault>
                <ng-container *ngIf="!readOnly">
                  <div class="form-group" [hidden]="hideQuestion(question, formGroup.get(group.code))">
                    <label [for]="question.name">{{ question.description }}</label>
                    <input type="text" [id]="question.name" class="form-control" [name]="question.name"
                           placeholder="{{ question.placeholder ? question.placeholder : '' }}"
                           [formControlName]="question.name" [mask]="question.mask" />
                    <rb-validation-message [validations]="question.validations"
                                            [control]="formGroup.get(group.code).get(question.name)"
                                            [submitted]="submitted">
                    </rb-validation-message>
                  </div> <!--/.form-group-->
                </ng-container> <!--/!readOnly-->

                <ng-container *ngIf="readOnly">
                  <div class="form-group">
                    <label>{{ question.description }}:</label>
                    <span>{{ question.answer }}</span>
                  </div> <!--/.form-group-->
                </ng-container>
              </ng-template> <!--/text-->
            </ng-container> <!--/ngSwitch-questionType-->

          </ng-container> <!--/ngFor-question-->
        </fieldset>
      </ng-container> <!--/ngSwitchCase-fieldset-->

      <ng-container *ngSwitchDefault>
        <rb-data-table [group]="group" [formGroup]="formGroup" [formGroupSubmitted]="submitted" [readOnly]="readOnly"></rb-data-table>
      </ng-container>

    </ng-container> <!--/ngSwitch-groupType-->

  </ng-container> <!--groups-->
</form>
